<IfModule mod_rewrite.c>
    RewriteEngine On
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    # Remove index.php from URL
    RewriteCond %{THE_REQUEST} \s/+index\.php[^\s]* [NC]
    RewriteRule ^index\.php(.*)$ $1 [R=301,L]
    # Send all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
